@import url(youtube.css);


.sidebar{
    grid-area: sidebar;
    background-color: #212121;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    margin-top: 10px;
}

.sidebar-item{
    color: #fff;
    text-decoration: none;
    padding: 0 14px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
}

.sidebar-item:hover{
    background-color: #4c4c4c;
    transition: 0.3s;
}



